<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/scorechart.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

    <script type='text/javascript' src="/static/js/underscore.js"></script>
    <script type='text/javascript' src="/static/js/backbone.js"></script>
    <script type='text/javascript' src="/static/js/bootstrap.js"></script>

    <title>Yay lasers!</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="/">High Scores</a></li>
                <li><a href="/static/instructions.html">Assembly</a></li>
                <li><a href="/static/rules.html">Rules</a></li>
            </ul>
            <h2 class="muted">lAAAHzertag!</h2>
        </div>

        <hr></hr>

        <div class="row marketing">
            <h3>High Scores</h3>
        </div>
        <div class="row marketing">
            <table class='table'>
                <thead>
                    <tr>
                        <th class="col-lg-2">#</th>
                        <th class="col-lg-8">Athena</th>
                        <th class="col-lg-2">Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for gun_id, athena, score in high_scores %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="/gun/id/{{ gun_id }}">{{ athena }}</a></td>
                            <td>{{ score }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <div class="row marketing">
            <h3>Most Hit</h3>
        </div>
        <div class="row marketing">
            <table class='table'>
                <thead>
                    <tr>
                        <th class="col-lg-2">#</th>
                        <th class="col-lg-8">Athena</th>
                        <th class="col-lg-2">Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for gun_id, athena, score in most_hit %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="/gun/id/{{ gun_id }}">{{ athena }}</a></td>
                            <td>{{ score }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
