<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/scorechart.css">
<title>Yay lasers!</title>
</head>
<body>
<div class="Header">
	<div class="Title">lAAAHzertag!</div>
	<div id="Navigator">
		<ul>
			<li><a href="high_scores.html">High Scores</a></li>
			<li><a href="instructions.html">Instructions</a></li>
			<li><a href="about.html">About</a></li>
		</ul></div>
	<div class="Categories"></div>
</div>

<div class="Border"></div>
<div id="Data_titles">
	<div class="Data_title">Points</div>
	<div class="Data_title">Name</div>
	<div class="Data_title">Recently hit</div>
	<div class="Data_title">Recently hit by</div>
</div>
<div id="Data">
	<div class="Data_list"><div id="Points"></div></div>
	<div class="Data_list"><div id="Names"></div></div>
	<div class="Data_list"><div id="Hits"></div></div>
	<div class="Data_list"><div id="Hit by"></div></div>
</div>
</div>
</body>
</html>
